<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat multi media</title>
    <script>
        const NAME = "<%= name %>"
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body onload="sendName()">
    <h1>
        CHAT MULTI MEDIA
    </h1>
    <div id="room">
        <input type="text" name='room' placeholder="Nhập tên room">
        <input type="button" value="Join" onclick="sendRoom()">
        <p id="error"></p>
    </div>
    <div class="chatRoom row">
        <div class="title col-3">
            <p>Danh sách user và room</p>
            <ul class="listRoom">

            </ul>
        </div>
        <div class="listMessage col-9">
            <div class="listMessage__roomCurrent title">
                Bạn chưa join room
            </div>
            <ul class="listMessage__content">

            </ul>
            <div class="listMessage__input" style="padding-bottom: 20px;">
                <div class="form-row">
                    <input class="form-control input-message" style="width: 50%;" type="text" name="messageRoom"
                        placeholder="Input your message...">
                    <input class="btn btn-success" style="margin: 5px; margin-top: 0;" type="button" value="Send"
                        onclick="sendMessageInRoom()">
                    <button class="btn btn-warning" style="margin: 5px;margin-top: 0;" onclick="call()">Call
                        Video</button>
                </div>

            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="/handle.js"></script>

</body>

</html>